Welcome to the Pooja Grah {{username}},
    Thanks for registering an account with Pooja Grah! We're so excited that you've joined our community. Before you get started, we'll need you to verify your email address.
    Below is your OTP for User authentication - {{myRandomKey}}. Do not share OTP with others.
    Create your account by clicking on th link below:

    Looking forward to see you there :)

    If you have not created any account using this email address, please contact us poojagrah00@gmail.com .

    Have a nice day,
    Pooja Grah Team
